// BASE SETUP
a
  color: $secondary
  font-family: $primary-font
  &:hover,
  &:active,
  &:focus
    color: darken($secondary, 10%)
    text-decoration: none
    outline: none

body
  font-family: $primary-font
  color: $grey
  font-size: $font-size * 1px

h1, h2, h3, h4, h5, h6
  font-family: $primary-font
  font-weight: $light
  line-height: 1.2

@media screen and (min-width: $break-sm)
  h1
    font-size: 36 / $font-size * 1em
  h2
    font-size: 36 / $font-size * 1em
  h3
    font-size: 26 / $font-size * 1em
  h4
    font-size: 20 / $font-size * 1em
    font-weight: $semi

@media screen and (max-width: $break-sm)
  h1
    font-size: 32 / $font-size * 1em
  h2
    font-size: 32 / $font-size * 1em
  h3
    font-size: 23.5 / $font-size * 1em
  h4
    font-size: 18 / $font-size * 1em
    font-weight: $semi
h5,h6
  font-size: 1em

p
  font-size: 1em
  line-height: 1.5
  color: $grey
  @media screen and (max-width: $break-xs)
    font-size: 16px
    line-height: 26px
  .p-size-2, .p-size-2 p
    font-size: 18 / $font-size * 1em


body::-webkit-scrollbar
  width: 0.6em

body::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3)

body::-webkit-scrollbar-thumb
  background-color: $secondary
  outline: 1px solid $secondary
