<!doctype html>
<html {{ site.language_attributes }}>
	<head>
        {% block html_head_container %}
            {% include 'html-header.twig' %}
            {% block head %}
            {% endblock %}
        {% endblock %}

		{% include 'partial/tracking.twig' with { 'location': 'head' } %}
	</head>

	<body class="{{body_class}}">

	{% include 'partial/tracking.twig' with { 'location': 'body' } %}

        {% block navbar %}
            {% include 'partial/navbar.twig' %}
        {% endblock navbar %}

        {% block header %}{% endblock %}
				<main>
				{% block content %}{% endblock %}
				</main>
        {% block footer %}
            {% include 'footer.twig' %}
        {% endblock %}

        {% include 'libraries.twig' %}

        {{ function('wp_footer') }}
	</body>
</html>
