{% extends "base.twig" %}

{% block header %}
{% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
    <section class="section-grant-standard padding-80px-tb section-blog">
        <div class="container">
            <div class="row equalize xs-equalize-auto">
                {% for post in posts %}
                    <div class="col-md-6">
                        {% include 'partial/_post_tease.twig' with { post: post } %}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
            </div>
        </div>
    </section>
{% endblock %}
