{% extends "base.twig" %}

{% block header %}
{% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock %}

{% block content %}
<div id="" class="container">
    <div class="row">
        <div class="col-12">
			{{ page.content }}
        </div>
    </div>
</div>
{% endblock %}
