{%- extends "base.twig" -%}

{%- block header %}
{% include 'partial/_jumbotron.twig' with { page: page } %}
{% endblock -%}

{%- set grants_table = page.meta('grants_table') %}
{%- set grants_title = page.meta('grants_title') %}
{%- set grants_header = grants_table.header %}
{%- set grants_body = grants_table.body %}

{% block content %}
    <section id="partners_grants" class="section-grant-standard padding-80px-tb section__partners-grants">
        <div class="container">
            <div class="row">
                {% if grants_title != empty %}
                <div class="col-lg-11 col-sm-12">
                    <h2 class="text-secondary font-weight-400 title margin-40px-bottom">{{grants_title}}</h2>
                </div>
                {% endif %}
                <div class="col-sm-12">
                    {%- if grants_table != empty -%}
                        <table class="text-secondary" border="0">
                            {% if grants_header != empty %}
                            <thead>
                                <tr>
                                {%- for th in grants_header -%}
                                    {%- if th.c != empty -%}
                                        <th>{{th.c}}</th>
                                    {%- endif -%}
                                {%- endfor -%}
                                </tr>
                            </thead>
                            {% endif %}
                        <tbody>
                        {%- for tr in grants_body -%}
                        <tr>
                            {%- for td in tr -%}
                                {%- if td.c != empty -%}
                                    <td>{{td.c}}</td>
                                {%- endif -%}
                            {%- endfor -%}
                        </tr>
                        {%- endfor -%}
                        </tbody>
                        </table>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </section>
{%- endblock -%}
